<?xml version="1.0"?>
<!--
/**
 * CalendarEvents config file
 *
 * @category	Webinse
 * @package 	Webinse_CalendarEvents
 * @author  	Webinse Team <info@webinse.com>
 * @copyright   2017 Webinse Ltd. (https://www.webinse.com)
 * @license 	http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
-->
<config>
    <modules>
        <Webinse_CalendarEvents>
            <version>0.1.0</version>
        </Webinse_CalendarEvents>
    </modules>
    <global>
        <blocks>
            <webinse_calendarevents>
                <class>Webinse_CalendarEvents_Block</class>
            </webinse_calendarevents>
        </blocks>
        <helpers>
            <webinse_calendarevents>
                <class>Webinse_CalendarEvents_Helper</class>
            </webinse_calendarevents>
        </helpers>
        <models>
            <webinse_calendarevents>
                <class>Webinse_CalendarEvents_Model</class>
            </webinse_calendarevents>
        </models>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <webinse_calendarevents_edit_tab_main>
                        <class>webinse_calendarevents/observer</class>
                        <method>cmsField</method>
                    </webinse_calendarevents_edit_tab_main>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>
        <resources>
            <webinse_calendarevents_setup>
                <setup>
                    <module>Webinse_CalendarEvents</module>
                </setup>
            </webinse_calendarevents_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <webinse_calendarevents module="webinse_calendarevents">
                    <file>webinse_calendarevents.xml</file>
                </webinse_calendarevents>
            </updates>
        </layout>
    </frontend>
    <default>
        <webinse_calendarevents>
            <config>
                <day_names>1</day_names>
                <alendar_cell_size>1</alendar_cell_size>
                <number_of_prev_months>1</number_of_prev_months>
                <number_of_next_months>1</number_of_next_months>
            </config>
        </webinse_calendarevents>
    </default>
</config>